:root {
  --card-background: #fff;
  --grays-secondary-text: #767676;
  --blue-advertisement-text: #1b59ac;
  --purple-bidding-text: #6256b1;
  --orange-buy-now-text: #FF5A00;
}

.cardWrapper {
  min-width: 254px;
  min-height: 432px;
  max-width: 254px;
  max-height: 432px;

  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.16));
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 50%;
}

.imageWrapper .image {
  width: 100%;
  height: 100%;

  border-radius: 8px 8px 0px 0px;
}

.imageWrapper .heartIcon {
  position: absolute;
  right: 16px;
  bottom: -16px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  
  background-color: var(--card-background);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  border-radius: 50%;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 16px 8px;
  height: 50%;

  background-color: var(--card-background);
  border-radius: 0px 0px 8px 8px;
}

.details .title {
  font-size: 0.9rem;
  font-weight: 400;
}

.details .tagWrapper {
  margin-bottom: 64px;
}

.tagWrapper .priceTag {
  font-size: 1rem;
  font-weight: 600;
}

.tagWrapper .headPriceTag {
  font-size: 1.2rem;
  font-weight: 600;
}

.tagWrapper .tag {
  font-size: 0.6rem;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
}

.tag.buyNowTag {
  color: var(--orange-buy-now-text);
}

.tag.advertisementTag {
  color: var(--blue-advertisement-text);
}

.tag.auctionTag {
  color: var(--purple-bidding-text);
}

.details .location {
  display: flex;
  gap: 6px;
}

.location p {
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--grays-secondary-text);
}
